<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Dashboard - {{ session.user.userinfo.name }}</title>
</head>
<body>
    <p>Welcome, {{ session.user.userinfo.name }}. You are a teacher</p>
    <p>Your email is {{ session.user.userinfo.email }}</p>
    <p><a href="/logout">Logout</a></p>
    <p><a href="/">Home</a></p>
    <form method="POST" action="/dashboard">
        {{ form.hidden_tag() }}
        <p>Add a student</p>
        <p>Name: {{ form.name() }}</p>
        <p>Email: {{ form.email() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>